@import 'base/variables'
@import 'base/fonts'
 
*   
    margin: 0
    padding: 0

body
    font-family: Roboto,sans-serif
    color: #000
.container
    max-width: 1312px
    margin: 0 auto
h1
    font-size: 72px
    line-height: 90px
    font-family: 'Alegreya', sans-serif
h2
    font-size: 52px
    line-height: 65px
    font-family: 'Alegreya', sans-serif
h3    
    font-size: 32px
    line-height: 40px
    font-family: 'Alegreya', sans-serif
h4
    font-size: 24px
    line-height: 30px
    font-family: 'Alegreya', sans-serif
a
    color: #000
.btn
    background: #E52D2D
    color: #fff
    font-family: 'Alegreya', sans-serif
    font-size: 18px
    line-height: 24px
    padding: 18px 69px
    border-radius: 5px
    text-decoration: none
    text-transform: uppercase
    &:hover
      background: #FF3C3C
.lock-scroll
    overflow: hidden
.nav-mobile
    display: none
    
@import 'blocks/header'
@import 'blocks/mobile'
@import 'blocks/promo'
@import 'blocks/action'
@import 'blocks/menu'
@import 'blocks/delivery'
@import 'blocks/posts'
@import 'blocks/insta'
@import 'blocks/media'